/A1.class
/A4.class
/ArmStrongOrNot.class
/Divisibleby.class
/Divisibleby50.class
/Divisibleby5andnot7.class
/Evennum1to10.class
/Evenorodd1.class
/FibUsingRecursion.class
/Largestof2numm.class
/Leapyearornot.class
/Logicalposneg.class
/Method1.class
/MethodOverloading.class
/MethodOverloading1.class
/Monthvalidornot.class
/Operator.class
/P1.class
/P2.class
/P4.class
/P5.class
/P7.class
/PallindromeOrNot.class
/PatternAbc.class
/Positiveformatif.class
/Print1to5.class
/PrintNum.class
/Printatoz.class
/Productprice.class
/ReturnType.class
/Reverse20to1.class
/StrongNumOrNot.class
/ValidOrNot.class
/Validdateornot.class
/p3.class
/pyramid.class
/CountVowelConsonant.class
/TocalculateSeries.class
/Factorial.class
/Snippet.class
/Fact.class
/AsifSampleLeaves.class
/MomChild.class
/WaterBill.class
/SumOfSeries.class
/CommunityReport.class
